<section class="the-grid">
    <div class="page-width">
        {% if section.settings.title != blank %}
            <h2>{{ section.settings.title }}</h2>
        {% endif %}
        <div class="grid product-grid grid--2-col-tablet-down grid--3-col-desktop">
            {% for block in section.blocks %}
                {% assign card_product = block.settings.card_product %}
                <div class="grid__item">
                    <div class="product-image is-relative">
                        <img src="{{ card_product.featured_media | img_url: '400x' }}" alt="{{ card_product.title }}" />
                        <span class="popup-trigger" style="top: {{ block.settings.topBottom }}%;left: {{ block.settings.leftRight }}%;">
                            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"> <circle cx="11" cy="11" r="11" fill="#F8F8F8" fill-opacity="0.9"/> <path d="M11.3457 7.04175V15.5033" stroke="black" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/> <path d="M7.11523 11.2725H15.5768" stroke="black" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/> </svg>
                        </span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% schema %}

{
    "name": "The Grid",
    "settings": [
        {
            "type": "text",
            "id":"title",
            "label": "Heading",
            "default": "Heading"
        }
    ],
    "blocks": [
        {
            "type": "product_card",
            "name": "Product",
            "settings": [
                {
                    "type": "product",
                    "label": "Select Product",
                    "id": "card_product"
                },
                {
                    "type": "header",
                    "content": "Popup Trigger Position"
                },
                {
                    "type": "range",
                    "label": "Top/Bottom",
                    "min": 0,
                    "max": 100,
                    "unit": "%",
                    "default": 40,
                    "id": "topBottom"
                },
                {
                    "type": "range",
                    "label": "Left/Right",
                    "min": 0,
                    "max": 100,
                    "unit": "%",
                    "default": 40,
                    "id": "leftRight"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "The Grid"
        }
    ]
}

{% endschema %}
